.popover {
  z-index: 99998;
  will-change: transform;
  contain: layout;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  position: fixed;
  pointer-events: none;
  transform-origin: 0% 0% 0px;
}

.popover-text {
  margin: 0;
  padding: 0.35rem;
  background-color: rgba(0, 0, 0, 0.66);
  color: #fff;
  line-height: 1;
  border-radius: 0.35rem;
}

.image {
  cursor: zoom-in;
  max-width: 100%;
  max-height: min(calc(100dvh - 6rem), calc(100vh - 6rem));
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.image-zoomed {
  cursor: zoom-out;
  max-width: none;
  max-height: none;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.navigate-close {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 100;
}

.navigate-previous {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  z-index: 100;
  transform: translateY(-50%);
}

.navigate-next {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  z-index: 100;
  transform: translateY(-50%);
}

@media (max-width: 900px) {
  .navigate-previous {
    left: auto;
    right: 0.5rem;
    top: 0.5rem;
    transform: translateX(calc(-100% - 0.5rem));
  }

  .navigate-next {
    left: auto;
    right: 0.5rem;
    top: 0.5rem;
    transform: none;
  }
}

.custom-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}
